@{
    ViewData["title"] = "Story Details";
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    ViewData["css"] = "StoryDetails.css";
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accesor


@model CIPlatform.Entitites.ViewModel.StoryViewModel

<div class="container">
    <div class="row w-100">

        <div class="images col-lg-6 col-md-6 col-sm-12">
            <div class="carousel slide" data-bs-interval="false" id="sub-images">
                <div class="carousel-inner">
                    @{
                        int count = 0;
                        foreach (var item in Model?.story?.StoryMedia)
                        {
                            if (count == 0)
                            {
                                if (@item.Type == "video")
                                {
                                    <iframe height="400" class="w-100 carousel-item active main-image"
                                src="https://www.youtube.com/embed/@item.Path.Split("v=").ElementAt(1)">
                                    </iframe>
                                }
                                else
                                {
                                    <img src="@item.Path" class="w-100 carousel-item active main-image" />
                                }

                                count = count + 1;
                            }
                            else
                            {
                                <img class="w-100 carousel-item main-image" src='@item.Path' alt="" />
                            }
                        }
                    }
                </div>
                <div class="mt-1 w-100 position-relative">
                    <div class="carousel slide" data-bs-interval="false" id="other-images">
                        <div class="carousel-inner">
                            @{
                                int sub_count = 4;
                                int check = 0;
                                int carousel_count = (int)Math.Ceiling((double)@Model?.story?.StoryMedia.Count / 4);
                                for (var i = 0; i < carousel_count; i++)
                                {
                                    if (check == 0)
                                    {
                                        <div class="carousel-item active">
                                            <div class="d-flex">
                                                @if (@Model?.story?.StoryMedia.Count >= sub_count)
                                                {
                                                    @for (int j = 0; j < sub_count; j++)
                                                    {
                                                        if (@Model?.story?.StoryMedia.ElementAt(j).Type == "video")
                                                        {
                                                            <img src="https://img.youtube.com/vi/@Model.story.StoryMedia.ElementAt(j).Path.Split("v=").ElementAt(1)/0.jpg" data-bs-target="#sub-images" data-bs-slide-to=@j class="other-image" alt="" />

                                                        }

                                                        else
                                                        {
                                                            <img src='@Model?.story?.StoryMedia.ElementAt(j).Path' data-bs-target="#sub-images" data-bs-slide-to=@j class="other-image" alt="" />
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    @for (int j = 0; j < @Model?.story?.StoryMedia.Count; j++)
                                                    {
                                                        if (@Model?.story?.StoryMedia.ElementAt(j).Type == "video")
                                                        {
                                                            <img src="https://img.youtube.com/vi/@Model.story.StoryMedia.ElementAt(j).Path.Split("v=").ElementAt(1)/0.jpg" data-bs-target="#sub-images" data-bs-slide-to=@j class="other-image" alt="" />

                                                        }

                                                        else
                                                        {
                                                            <img src='@Model?.story?.StoryMedia.ElementAt(j).Path' data-bs-target="#sub-images" data-bs-slide-to=@j class="other-image" alt="" />
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                        check = check + 4;
                                    }
                                    else
                                    {
                                        <div class="carousel-item">
                                            <div class="d-flex">
                                                @if (@Model?.story?.StoryMedia.Count - (4 * i) >= sub_count)
                                                {
                                                    @for (int j = check; j < sub_count + check; j++)
                                                    {
                                                        if (@Model?.story?.StoryMedia.ElementAt(j).Type == "video")
                                                        {
                                                            <img src="https://img.youtube.com/vi/@Model.story.StoryMedia.ElementAt(j).Path.Split("v=").ElementAt(1)/0.jpg" data-bs-target="#sub-images" data-bs-slide-to=@j class="other-image" alt="" />

                                                        }

                                                        else
                                                        {
                                                            <img src='@Model?.story?.StoryMedia.ElementAt(j).Path' data-bs-target="#sub-images" data-bs-slide-to=@j class="other-image" alt="" />
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    @for (int j = check; j < @Model?.story?.StoryMedia.Count; j++)
                                                    {
                                                        if (@Model?.story?.StoryMedia.ElementAt(j).Type == "video")
                                                        {
                                                            <img src="https://img.youtube.com/vi/@Model.story.StoryMedia.ElementAt(j).Path.Split("v=").ElementAt(1)/0.jpg" data-bs-target="#sub-images" data-bs-slide-to=@j class="other-image" alt="" />

                                                        }

                                                        else
                                                        {
                                                            <img src='@Model?.story?.StoryMedia.ElementAt(j).Path' data-bs-target="#sub-images" data-bs-slide-to=@j class="other-image" alt="" />
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                        check = check + 4;
                                    }
                                }

                            }
                        </div>
                        <div class="bg-black d-flex align-items-center justify-content-center position-absolute left h-100 carousel-control-prev" data-bs-target="#other-images" data-bs-slide="prev">
                            <img src="~/images/left1.png" class="w-50" alt="not load" />
                        </div>

                        <div class="bg-black d-flex align-items-center justify-content-center position-absolute left h-100 carousel-control-next" style="left:98%;" data-bs-target="#other-images" data-bs-slide="next">
                            <img src="~/images/right-arrow2.png" class="w-50" alt="not load" />
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="description col-lg-6 col-md-6 col-sm-12">
            <div class="user-details mt-5 ms-3 d-flex justify-content-between">
                <span class="d-flex flex-column align-items-center">
                    <img class="rounded-circle" src="@Model.story.User.Avatar">
                    <span>@Model.story.User.FirstName @Model.story.User.LastName</span>
                </span>
                <div class="views border rounded-pill mt-5 h-25 w-25 d-flex justify-content-center align-items-center border-1">
                    <img src="~/images/eye.png" />
                    <span class="ms-1">@Model.story.StoryViews.Count views</span>
                </div>
            </div>
            <p class="ms-3 mt-5">
                @Model.story.User.WhyIVolunteer

            </p>
            <div class="row justify-content-between ms-3">
                <div data-bs-toggle="modal" data-bs-target="#exampleModal" class=" mt-3 col-lg-6 col-md-12 col-sm-6 d-flex justify-content-center align-items-center border border-dark rounded-pill mt-2>
                    <img src="~/images/add1.png" class="p-1" alt="" />
                    <span class="p-1" style="white-space:nowrap;">Recommend To a Co-Worker</span>
                </div>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Recommend to a Co-Worker</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                               
                                    @foreach (var item in @Model.alreadyrecommend)
                                    {
                                           <div class="d-flex mt-3 bg-white align-items-center">
                                                <i class="bi bi-check-square-fill"></i>
                                                 @if (item.ToUser.Avatar is not null)
                                            {
                                                <img class="rounded-circle usercomment-image ms-5" style="margin-left:30% !important" src=@item.ToUser.Avatar alt="" />
                                            }
                                            else
                                            {
                                                <img class="rounded-circle usercomment-image ms-5" style="margin-left:30% !important" src="~/images/volunteer1.png" alt="" />
                                            }
                                                <span class="ms-2" >@item.ToUser.FirstName @item.ToUser.LastName</span>

                                            </div>
                                    }
                                    @foreach (var item in @Model.Users)
                                    {
                                           <div class="d-flex mt-3 bg-white align-items-center">
                                                <input class="form-check-input" type="checkbox" value="@item.UserId" name="email" id="@item.Email">
                                                @if (item.Avatar is not null)
                                            {
                                                <img class="rounded-circle usercomment-image ms-5" style="margin-left:30% !important" src=@item.Avatar alt="" />
                                            }
                                            else
                                            {
                                                <img class="rounded-circle usercomment-image ms-5" style="margin-left:30% !important" src="~/images/volunteer1.png" alt="" />
                                            }
                                                <span class="ms-2" >@item.FirstName @item.LastName</span>

                                            </div>
                                    }
                                   
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" onclick="Recommend(@Model.story.StoryId)" data-bs-dismiss="modal">Send Mail</button>
                            </div>
                        </div>
                    </div>
                </div>


                <a asp-action="Volunteermission" asp-controller="Home" asp-route-id="@Model.story.MissionId" class="applyButton mt-3 btn col-lg-5 col-md-12 col-sm-5">Open Mission<img class="ms-2" src="~/images/right-arrow.png" alt="" /></a>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class=" mt-5 text-muted w-100 border-bottom" style="height:60px;">
        <h5>@Model.story.Title</h5>
        <u class="ms-2 mb-3 active-detail introduction"></u>
    </div>
    @{
        string content = System.Text.RegularExpressions.Regex.Replace(@Model.story.Description, "<.*?>", string.Empty);
        <p class="mt-5 text-muted">@Html.Raw(@content)</p>
    }
</div>




<script src="~/js/StoryDetails.js"></script>