@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CIPlatform.Entitites.ViewModel.Mission
@{
    if (Model.Cities is null)
    {
        foreach (var item in Model.Country)
        {
            foreach (var city in item.Cities)
            {
                if(city.CityId == long.Parse(Context.Session.GetString("City"))){
                        
                    <span class="dropdown-item">
                    <input class="form-check-input" checked type="checkbox" onchange="addcities('@city.Name')" value="" id="@city.Name">
                    <label class="form-check-label" for="flexCheckDefault">
                        @city.Name
                    </label>
                    </span>


                }
                else {

                    <span class="dropdown-item">
                        <input class="form-check-input" type="checkbox" onchange="addcities('@city.Name')" value="" id="@city.Name">
                    <label class="form-check-label" for="flexCheckDefault">
                        @city.Name
                    </label>
                </span>
                }
            }
        }
    }
    else
    {
        foreach (var city in Model.Cities)
        {
            <span class="dropdown-item">
                <input class="form-check-input" type="checkbox" onchange="addcities('@city.Name')" value="" id="@city.Name">
                <label class="form-check-label" for="flexCheckDefault">
                    @city.Name
                </label>
            </span>
        }
    }
}
