@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accesor

@using System.Security.Claims;
@model CIPlatform.Entitites.ViewModel.Mission
@{
    foreach (var item in Model.Missions)
    {
        <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
            <div class="thumbnail card d-flex">
                <div class="img-event">
                    <a href="/Home/Volunteermission/@item.MissionId">
                        <img class="group list-group-image w-100 h-100"
                         src='~/images/@item.MissionMedia.ElementAt(0).MediaPath' alt="" id='@item.MissionMedia.ElementAt(0).MissionMediaId-@item.MissionMedia.ElementAt(0).MediaPath' onmouseover="view_detail_onmouseover(@item.MissionId,'@item.MissionMedia.ElementAt(0).MissionMediaId-@item.MissionMedia.ElementAt(0).MediaPath')" onmouseout="view_detail_onmouseout(@item.MissionId,'@item.MissionMedia.ElementAt(0).MissionMediaId-@item.MissionMedia.ElementAt(0).MediaPath')" />
                    </a>
                    <div class="location-img">

                        <img class="text-light" src="/images/pin.png" alt="">
                        <span class="text-light">@item.City.Name</span>
                    </div>
                    @{
                        if (@item.FavoriteMissions.Where(c => c.MissionId.Equals(@item.MissionId) && c.UserId.Equals(long.Parse(@Accesor?.HttpContext?.Session.GetString("UserId")))).ToList().Count > 0)
                        {

                            <button onclick="Add(@Accesor?.HttpContext?.Session.GetString("UserId"),@item.MissionId)"  class="like-img border-0">
                                <img class="text-light heart-@item.MissionId" style="height:24px;" src="~/images/red-heart.png" alt="">
                            </button>
                        }
                        else
                        {
                            <button onclick="Add(@Accesor?.HttpContext?.Session.GetString("UserId"),@item.MissionId)"  class="like-img border-0">
                                <img class="text-light heart-@item.MissionId" style="height:20px;" src="~/images/heart.png" alt="">
                            </button>
                        }
                    }
                    <a href="/Home/Volunteermission/@item.MissionId" class="stop-img border-0">
                        <img class="text-light" src="/images/user.png" alt="">
                    </a>
                    @{
                        if (@item.Theme is not null)
                        {
                            <button class="mission-theme border-0">
                                <span class="p-2">@item.Theme.Title</span>
                            </button>
                        }
                       
                    }
                    <div class="view-detail position-absolute" style="display:none;" onmouseover="view_detail_onmouseover(@item.MissionId,'@item.MissionMedia.ElementAt(0).MissionMediaId-@item.MissionMedia.ElementAt(0).MediaPath')" onmouseout="view_detail_onmouseout(@item.MissionId,'@item.MissionMedia.ElementAt(0).MissionMediaId-@item.MissionMedia.ElementAt(0).MediaPath')" id=@item.MissionId>
                        <a href='/Home/Volunteermission/@item.MissionId' class="applyButton  btn d-flex  justify-content-around align-items-center" style="border: 2px solid white; color: white;">
                            View Details <img class="ms-2" src="~/images/right-arrow.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        @item.Title
                    </h4>
                    <p class="group inner list-group-item-text">
                        @item.Description?.Substring(0,175).....
                    </p>
                    <div class="d-flex list-view justify-content-between">
                        <span class="organization">@item.OrganizationName</span>
                        <div class="rating">
                            @{
                                double avg_rating = 0;
                                int total = @item.MissionRatings.Count;
                                foreach (var rating in @item.MissionRatings)
                                {
                                    avg_rating = avg_rating + rating.Rating;
                                }
                                avg_rating = avg_rating / total;
                                for (var i = 1; i <= 5; i++)
                                {
                                    if (i <= @avg_rating)
                                    {
                                        <img style="height:30px" src="~/images/selected-star.png" alt="" />
                                    }
                                    else
                                    {
                                        <img style="height:30px" src="~/images/star-empty.png" alt="" />
                                    }
                                }
                            }
                        </div>
                    </div>
                    <div class="duration-seats-info mt-4">
                        <div class="duration">
                            @{
                                if (@item.MissionType == "GOAL")
                                {
                                    <p id="duration-txt" style="margin-bottom: 0;">@item.GoalObject</p>
                                }
                                else
                                {
                                    <p id="duration-txt" style="margin-bottom: 0;">From @item.StartDate?.ToString().Substring(0,10) To @item.EndDate?.ToString().Substring(0,10)</p>
                                }
                            }
                        </div>
                    </div>
                    <div class="d-flex justify-content-between border-bottom mt-3">
                        <div class="Seats d-flex align-items-center">
                            <img src="/images/Seats-left.png" alt="">
                            <span>
                                @item.AvbSeat <p>seats left</p>
                            </span>
                        </div>
                        <div class="deadline d-flex align-items-center">
                            @{
                                if (@item.MissionType == "GOAL")
                                {
                                    string? str1 = @item.GoalObject;
                                    string str2 = string.Empty;
                                    int goal = 0;
                                    for (int i = 0; i <= str1.Length - 1; i++)
                                    {
                                        if (Char.IsDigit(str1[i]))
                                            str2 += str1[i];
                                    }
                                    if (str2.Length > 0)
                                    {
                                        goal = int.Parse(str2);
                                    }
                                    double? percent = (@item.Achieved / (double)goal) * 100;
                                    <img src="/images/achieved.png" alt="">
                                    <div class="w-100">
                                        <div class="progress" style="width:90%;margin-left:10px;">
                                            <div class="progress-bar" role="progressbar" style="width:@percent%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="text-muted">@item.Achieved achieved</p>
                                    </div>
                                }
                                else
                                {
                                    <img src="/images/deadline.png" alt="">
                                    <span>
                                        @item.Deadline?.ToString().Substring(0,10)
                                        <p>Deadline</p>
                                    </span>
                                }
                            }

                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-4">

                        @{

                            @if (DateTime.Now > @item.Deadline || @item.AvbSeat == 0)
                            {
                                <button class="applyButton-cls btn" disabled>

                                    Closed

                                </button>
                            }
                            else if (@item.MissionApplications.Where(c => c.MissionId.Equals(@item.MissionId) && c.ApprovalStatus=="APPROVE" && c.UserId.Equals(@ViewBag.UserId)).ToList().Count>0)
                            {
                               <a class="applyButton btn" href="/Home/Volunteermission/@item.MissionId">

                                    Applied

                                </a>
                            }
                            else if (@item.MissionApplications.Where(c => c.MissionId.Equals(@item.MissionId) && c.ApprovalStatus=="PENDING" && c.UserId.Equals(@ViewBag.UserId)).ToList().Count>0)
                            {
                               <a class="applyButton btn" href="/Home/Volunteermission/@item.MissionId">

                                    Requested

                                </a>
                            }
                            else
                            {
                                <a class="applyButton btn" href="/Home/Volunteermission/@item.MissionId">

                                    Apply <img src="/images/right-arrow.png" alt="">

                                </a>

                            }
                        }


                    </div>
                </div>
            </div>
        </div>

    }
}
