@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CIPlatform.Entitites.Models.Timesheet
@{
    if (@Model.Action is not null)
    {
        <tr id='timesheet-@Model.TimesheetId'>
            <td>@Model.Mission.Title.ToString().Substring(0,20)...</td>
            <td>@Model.DateVolunteered.ToString("dd-MM-yyyy")</td>
            <td>@Model.Action</td>
            <td>
                <img onclick="edittimesheet(@Model.TimesheetId,@Model.MissionId,0,0,'@Model.Notes','goal','@Model.Action')" data-bs-toggle="modal" data-bs-target="#goal" src="~/images/edit.png" class="edbutton" alt="" />
                <img src="~/images/bin.png" onclick="deletetimesheet(@Model.TimesheetId)" class="ms-2 edbutton" alt="" />
            </td>
        </tr>
    }
    else
    {
        <tr id="timesheet-@Model.TimesheetId">
            <td>@Model.Mission.Title.ToString().Substring(0,20)...</td>
            <td>@Model.DateVolunteered.ToString("dd-MM-yyyy")</td>
            <td>@Model.Time.ToString().Substring(0,2)</td>
            <td>@Model.Time.ToString().Substring(3,5)</td>
            <td>
                <img data-bs-toggle="modal" data-bs-target="#time" onclick="edittimesheet(@Model.TimesheetId,@Model.MissionId,'@Model.Time.ToString().Substring(0,2)','@Model.Time.ToString().Substring(3,5)','@Model.Notes','time')" src="~/images/edit.png" class="edbutton" alt="" />
                <img src="~/images/bin.png" onclick="deletetimesheet(@Model.TimesheetId)" class="ms-2 edbutton" alt="" />
            </td>
        </tr>
    }
}

<script src="~/js/Timesheet.js"></script>