@{
    ViewData["Title"] = "Privacy Policy";

}
@model CIPlatform.Entitites.ViewModel.CmsViewModel
<div class="container">
    <div class="heading mt-5">
        <h1>Privacy and Cookies Policy</h1>
    </div>
    <div class="main-content row mt-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 ">
            @{
                foreach (var item in Model.cmsPages)
                {
                    <a style="text-decoration:none; color: black;" id="@item.CmsPageId" href="#@item.Slug">@item.Title</a><hr />
                }
            }
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-9" >
            @{
                foreach(var item in Model.cmsPages){
            <h3  id="@item.Slug">@item.Title</h3>
            <p class="mt-3">
               @Html.Raw(@item.Description)
            </p>
            <hr />
            }
            }

        </div>
    </div>
</div>


