@model CIPlatform.Entitites.ViewModel.VolunteerViewModel
@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accesor


@{
    ViewData["title"] = "volunteering mission";
    ViewData["css"] = "volunteering_mission.css";
}




 <div class="container mt-5">


        <div class="main1  row">

            <div class="image  col-lg-6  d-flex flex-column h-100" style="border: none;">
                <img src="@Model.mission.MissionMedia.ElementAt(0).MediaPath" id="image-area" class=""
                     style="max-width: 720px; height: 428px;" />
                <div id="carousel-bottom" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row p-1">
                                <div class="col-3 p-1">
                                    <img src="@Model.mission.MissionMedia.ElementAt(0).MediaPath"
                                         class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" height="120"
                                         role="img" onclick="display(this)">
                                </div>
                                <div class="col-3 p-1">
                                    <img src="/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png"
                                         class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" height="120"
                                         role="img" onclick="display(this)">
                                </div>
                                <div class="col-3 p-1">
                                    <img src="/images/Grow-Trees-On-the-path-to-environment-sustainability.png"
                                         class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" height="120"
                                         role="img" onclick="display(this)">
                                </div>
                                <div class="col-3 p-1">
                                    <img src="/images/Nourish-the-Children-in--African-country.png"
                                         class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" height="120"
                                         role="img" onclick="display(this)">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row p-1">
                                <div class="col-3 p-1">
                                    <img src="/images/Nourish-the-Children-in--African-country.png"
                                         class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="175"
                                         height="120" role="img" onclick="display(this)">
                                </div>
                                <div class="col-3 p-1">
                                    <img src="/images/Plantation-and-Afforestation-programme.png"
                                         class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="175"
                                         height="120" role="img" onclick="display(this)">
                                </div>
                                <div class="col-3 p-1">
                                    <img src="/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png"
                                         class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 " width="175"
                                         height="120" role="img" onclick="display(this)">
                                </div>
                                <div class="col-3 p-1">
                                    <img src="/images/Plantation-and-Afforestation-programme.png"
                                         class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="175"
                                         height="120" role="img" onclick="display(this)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev w-auto ps-2 pe-2 bg-black bg-opacity-100 mt-2 mb-2"
                            type="button" data-bs-target="#carousel-bottom" data-bs-slide="prev">
                        <img src="/images/left.png" aria-hidden="true" />
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next w-auto ps-2 pe-2 bg-black bg-opacity-100 mt-2 mb-2"
                            type="button" data-bs-target="#carousel-bottom" data-bs-slide="next">
                        <img src="/images/right-arrow2.png" aria-hidden="true" />
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
            <div class="card col-lg-6" style="border: none;">
                <div class="card-body mt-3 ">
                    <span class="fs-4 fw-bold dark-gray mt">
                        @Model.mission.Title
                    </span>
                    <p class="light-gray mt-2" style="font-size:15px">
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing
                        elit, sed do eiusmod temp bvhjgfjhb or incididunt ut labore...
                    </p>
                    <div class=" d-flex justify-content-center ">
                        <span class="rounded-pill border p-2  bg-white"
                              style="z-index: 5;">
                           <span> @Model.mission.StartDate.Value.Day/@Model.mission.StartDate.Value.Month/@Model.mission.StartDate.Value.Year until @Model.mission.EndDate.Value.Day/@Model.mission.EndDate.Value.Month/@Model.mission.EndDate.Value.Year </span>
                        </span>
                    </div>
                    <hr style="margin-top:-20px" />

                    <div class="d-flex  flex-wrap  justify-content-between">
                        
                        <div class="d-flex align-items-center ">
                            <img src="/images/Seats-left.png" />
                            <div class="d-flex flex-column ms-2 ">
                                <span class="dark-gray">@Model.mission.AvbSeat</span>
                                <span class="light-gray fs-fourteen">Seats Left</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <img src="/images/mission.png" style="height:24px; width:24px" />
                            <div class="d-flex flex-column ms-2 ">
                                <div class="progress" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                     aria-valuemax="100" style="height:8px">
                                    <div class="progress-bar" style="width: 75%; background-color: orange;"></div>
                                </div>
                                <span class="light-gray fs-fourteen mt-2">@Model.mission.TotalSeats</span>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class=" d-flex flex-wrap">
                        @if(@Model.Favorite_mission == 1){
                        <button type="submit" onclick="Add(@Model.mission.MissionId,@Accesor?.HttpContext?.Session.GetString("UserId"))" id="addToFav" class="rounded-pill border bg-white" style="flex: 45%; color: red">Remove from favourite</button>
                    }
                    else
                    {
                         <button type="submit" onclick="Add(@Model.mission.MissionId,@Accesor?.HttpContext?.Session.GetString("UserId"))" id="addToFav" class="rounded-pill border bg-white" style="flex: 45%;">Add to favourite</button>
                    }


                        <button type="button" class="main-btn btn rounded-pill border-bottom rounded-pill me-2 border" data-bs-toggle="modal" data-bs-target="#exampleModal" style="flex: 45%;">
                                

                            <i class="fa fa-square px-2"></i> Recommend To Co-Worker
                        </button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Recommend to a Co-Worker</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <table class=table>
                                                <thead>
                                                    <tr>
                                                        <th>Mark</th>
                                                        <th>Name</th>
                                                        <th>Email</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in @Model.users)
                                                    {
                                                        <tr>
                                                            <td><input class="form-check-input" type="checkbox" value="@item.UserId" name="email" id="@item.Email"><td>
                                                            <td>@item.FirstName</td>
                                                            <td> <label class="form-check-lable" for="@item.Email">@item.Email</label></td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary"  onclick="sendMail(@Model.mission.MissionId)">Send Mail</button>
                                        </div>
                                </div>
                            </div>
                        </div>

                    </div>


                       <div class="row text-center">
                    <div class="ratings mt-3">
                        @if (true)
                        {
                            for (var j = 0; j < (@Model.Rating); j++)
                            {
                                <i class="bi bi-star-fill checked" style="color:#F8D441"></i>
                            }
                            for (var j = 0; j < 5 - (@Model.Rating); j++)
                            {
                                <i class="bi bi-star"></i>
                            }

                        }
                    </div>
                </div>
                    


                    <div class=" d-flex flex-wrap justify-content-evenly mt-4">
                        <div class="border me-1 flex-fill">
                            <div class="ms-3">
                                <!-- <img src="" alt="" class=""> -->
                                <img src="/images/pin1.png" alt="" class="">
                                <div class="mt-3">
                                    <div>city</div>
                                    <div>@Model.mission.City.Name</div>
                                </div>
                            </div>
                        </div>
                        <div class="border me-1 flex-fill">
                            <div class="ms-3">
                                <!-- <img src="" alt="" class=""> -->
                                <img src="/images/web.png" alt="" class="">
                                <div class="mt-3">
                                    <div>Theme</div>
                                    <div>@Model.mission.Theme.Title</div>
                                </div>
                            </div>
                        </div>
                        <div class="border me-1 flex-fill">
                            <div class="ms-3">
                                <!-- <img src="" alt="" class=""> -->
                                <img src="/images/calender.png" alt="" class="">
                                <div class="mt-3">
                                    <div>Date</div>
                                    <div>@Model.mission.Deadline.Value.Day/@Model.mission.Deadline.Value.Month/@Model.mission.Deadline.Value.Year</div>
                                </div>
                            </div>
                        </div>
                        <div class="border me-1 flex-fill">
                            <div class="ms-3">
                                <!-- <img src="" alt="" class=""> -->
                                <img src="/images/organization.png" alt="" class="">
                                <div class="mt-3">
                                    <div>Organization</div>
                                    <div>@Model.mission.OrganizationName</div>
                                </div>
                            </div>
                        </div>
                    </div>


                     

                    <div class="d-flex justify-content-center mt-5 " id="apply-btn">
                        <button type="submit" value="Apply" onclick="ApplyMission(@Model.mission.MissionId,@Accesor?.HttpContext?.Session.GetString("UserId"))"
                                class="applyButton bg-white" style="border: 2px solid #F88634; border-radius: 24px" id="volunteer-status">
                            Apply now
                            <img src="/images/right-arrow.png" class="ms-2" />
                        </button>
                    </div>

                </div>

            </div>
        </div>
        <div class="main2 mt-4 row" style="border: none;">


            <div class="card col-lg-8" style="border: none;">
                <div class="card-body">
                    <div class="container" style="margin-top: 10px;">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active text-decoration-none border-0 navitem text-black"
                                    data-bs-toggle="tab"
                                   href="#msg">Mission</a>
                            </li>
                            <li class="nav-item">
                                <a  data-bs-toggle="tab"
                                   class="nav-link text-decoration-none border-0 navitem text-black" data-bs-toggle="tab"
                                   href="#pro">Organization</a>
                            </li>
                            <li class="nav-item">
                                <a  data-bs-toggle="tab"
                                   class="nav-link text-decoration-none border-0 navitem text-black" data-bs-toggle="tab"
                                   href="#set">Comment</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane container active " id="msg" >

                                <h5 class="py-3" style="font-size: 25px;">Introduction</h5>
                                <p class="m-2 intro" >
                                    @Model.mission.Description
                                </p>

                                <h5 class="py-3" style="font-size: 25px;">Challenge</h5>
                                <p class="challenge">
                                    @Model.mission.ShortDescription
                                </p>

                                <h5 class="py-3" style="font-size: 25px;">Documents</h5>
                                <div class="row">
                                       @{
                    foreach (var item in @Model?.mission?.MissionDocuments)
                    {
                         <div class="d-flex ms-2 mt-2 align-items-center border rounded-pill p-1">
                        <a href='~/documents/@item.DocumentPath' target='_blank' style='text-decoration:none; color:black;'><img class=" ms-2" src="~/images/doc.png" alt="" />
                        <span class="ms-1 me-2">@item.DocumentName</span>
                        </a>
                    </div>
                    }
                    }
    

                                </div>



                            </div>

                            <div class="tab-pane container fade border" id="pro">

                                


                                <h5 class="py-3" style="font-size: 25px;">About Organization</h5>
                                <p class="m-2 org">
                                   @Model.mission.OrganizationDetail
                                </p>



                            </div>
                            <div class="tab-pane container fade border" id="set">

                                    <label for="comment">Comment</label>
                                    <textarea id="user-comment" class=" w-100" placeholder="Enter Your Comments.." rows="4"
                                              required></textarea>
                                    <button class="bg-white  mt-3 border   border-warning rounded-pill" type="submit"
                                            style="color: orange;    flex-grow: 1;" onclick="AddComments(@Model.mission.MissionId,@Accesor?.HttpContext?.Session.GetString("UserId"))">
                                        Post comment
                                    </button>
                                    <p id="comment-status"></p>

                             




                                <div class="mt-2" style="background-color: #f2f2f2">


                                    <div class="bg-white card ms-3 me-3 mt-1 " data-spy="scroll"  >
                                        @if (@Model.mission.Comments != null)
                                        {
                                            @foreach (var item in @Model.mission.Comments)
                                            {
                                                <div class="card-body">
                                                    <div class="d-flex">
                                                        <div>
                                                            <img src="/images/volunteer1.png" class="rounded-circle" alt="">
                                                        </div>
                                                        <div class="d-flex ms-2 flex-column justify-content-center">
                                                            <div>@item.User.FirstName @item.User.LastName</div>
                                                            <div>@item.CreatedAt</div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-2">
                                                        @item.Comment1
                                                    </div>

                                                </div>
                                            }
                                        }
                                    </div>

                                    

                                </div>
                               

                            </div>

                        </div>

                    </div>


                </div>
            </div>

            <div class="d-flex  col-lg-4 flex-column height ">

                <div class="border">
                    <div class="card">

                        <div class="card-body">

                            <ul class="nav nav-tabs card-title ">
                                <li class="nav-item">
                                    <div class="nav-link text-black  text-decoration-none border-0 ps-0 information"
                                         >
                                        Information
                                    </div>
                                </li>
                            </ul>

                            <div class="table-responsive">
                                <table class="table align-middle mb-0">
                                    <thead>
                                        <tr>
                                            <td class="py-3">Skills</td>
                                            
                                            <td class="py-3">
                                                 @foreach (var i in @Model.mission.MissionSkills)
                                                     {
                                                        @i.Skill.SkillName <span>,</span>
                                                      }
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="py-3">Days</td>
                                            <td class="py-3">@Model.mission.Availability</td>
                                        </tr>
                                        <tr>
                                            <td class="py-3 border-bottom-0 ">Rating</td>
                                            <td class="py-3 border-bottom-0 ">
                                                @if (true)
                                    {
                                        for (var j = 0; j < (@Model.Rating); j++)
                                        {
                                            <i class="bi bi-star-fill checked" style="color:#F8D441"></i>
                                        }
                                        for (var j = 0; j < 5 - (@Model.Rating); j++)
                                        {
                                            <i class="bi bi-star"></i>
                                        }

                                    }<span class="px-2 ">
                                                    (by 100
                                                    volunteers)
                                                </span>
                                            </td>


                                        </tr>
                                    </tbody>
                                </table>
                            </div>



                        </div>
                    </div>
                </div>

                <div class="border mt-4 ">
                    <div class="card">

                        <div class="card-body">
                            <ul class="nav nav-tabs card-title ">
                                <li class="nav-item">
                                    <div class="nav-link active text-decoration-none border-0 ps-0 recents"
                                         >
                                        Recent
                                        Volunteer
                                    </div>
                                </li>
                            </ul>
                        </div>






                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane container active " id="previous">
                                
                                <div class="card-body row justify-content-center">
                                    @if (@Model.mission.MissionApplications != null)
                                    {
                                    @foreach(var item in @Model.mission.MissionApplications)
                                    {
                                    <div class="d-flex col-3 flex-column m-1 justify-content-center">
                                        <img src="@item.User.Avatar" alt="" class="rounded-circle" >
                                        <div class="text-center">@item.User.FirstName @item.User.LastName</div>
                                    </div>
  }
                                }
                                    
                                </div>
                              
                            </div>


                           

                        </div>

                    </div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item border">
                            <a class="nav-link active border-0 " data-bs-toggle="tab" href="#previous">
                                <<
                            </a>
                        </li>
                        <li class="border flex-fill d-flex justify-content-center align-items-center">
                            <div>1-9 of 25 recent volunteers</div>
                        </li>
                        <li class="nav-item border">
                            <a class="nav-link border-0" data-bs-toggle="tab" href="#next">>></a>
                        </li>
                    </ul>
                </div>
            </div>




        </div>




    </div>


    <div class="d-flex justify-content-center mt-4">
        <h3>Related Mission</h3>
    </div>
    <div class=" container  ">
        <div class="row">

        @{
            foreach (var item in @Model.related_mission)
            {
                <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
                    <div class="thumbnail card d-flex">
                    <div class="img-event">
                        <img class="group list-group-image w-100 h-100"
                             src="@Model.mission.MissionMedia.ElementAt(0).MediaPath" alt="" />
                        <div class="location-img" >
                            <img class="text-light" src="/images/pin.png" alt="">
                            <span class="text-light">@item.City.Name</span>
                        </div>
                        <button class="like-img border-0">
                            <img class="text-light" src="/images/heart.png" alt="">
                        </button>
                        <button class="stop-img border-0">
                            <img class="text-light" src="/images/user.png" alt="">
                        </button>
                        <button class="mission-theme border-0">
                            <span class="p-2">@item.Theme.Title</span>
                        </button>
                    </div>
                    <div class="caption mt-3" style=" padding-right: 2% !important; padding-left: 2% !important;">
                        <h4 class="group card-title inner list-group-item-heading">
                           @item.Title
                        </h4>
                        <p class="group inner list-group-item-text">
                           @item.Description
                        </p>
                        <div class="d-flex justify-content-between">
                            <span class="organization">@item.OrganizationName</span>
                            <div class="rating">
                                <img src="/images/selected-star.png" alt="">
                                <img src="/images/selected-star.png" alt="">
                                <img src="/images/selected-star.png" alt="">
                                <img src="/images/star.png" alt="">
                                <img src="/images/star.png" alt="">
                            </div>
                        </div>
                        <div class="duration-seats-info mt-4">
                            <div class="duration">
                                @{
                                if (@item.MissionType == "GOAL")
                                {
                                    <p id="duration-txt" style="margin-bottom: 0;">@item.GoalObject</p>
                                }
                                else
                                {
                                    <p id="duration-txt" style="margin-bottom: 0;">From @item.StartDate?.ToString().Substring(0,10) To @item.EndDate?.ToString().Substring(0,10)</p>
                                }
                            }
                            </div>
                        </div>
                        <div class="d-flex justify-content-between border-bottom mt-3">
                            <div class="Seats d-flex align-items-center">
                                <img src="/images/Seats-left.png" alt="">
                                <span>
                                    @item.AvbSeat <p>seats left</p>
                                </span>
                            </div>
                            <div class="deadline d-flex align-items-center">
                                 @{
                                if (@item.MissionType == "GOAL")
                                {
                                    string? str1 = @item.GoalObject;
                                    string str2 = string.Empty;
                                    int goal = 0;
                                    for (int i = 0; i <= str1.Length - 1; i++)
                                    {
                                        if (Char.IsDigit(str1[i]))
                                            str2 += str1[i];
                                    }
                                    if (str2.Length > 0)
                                    {
                                        goal = int.Parse(str2);
                                    }
                                    double? percent = (@item.Achieved / (double)goal) * 100;
                                    <img src="~/images/achieved.png" alt="">
                                    <div class="w-100">
                                        <div class="progress" style="width:90%;margin-left:10px;">
                                            <div class="progress-bar" role="progressbar" style="width:@percent%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="text-muted">@item.Achieved achieved</p>
                                    </div>
                                }
                                else
                                {
                                    <img src="images/deadline.png" alt="">
                                    <span>
                                        @item.Deadline?.ToString().Substring(0,10)
                                        <p>Deadline</p>
                                    </span>
                                }
                            }
                            </div>
                        </div>
                        <div class="d-flex justify-content-center my-3">
                            <button class="applyButton bg-white" style="border: 2px solid #F88634; border-radius: 24px">
                                Apply <img src="/images/right-arrow.png" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            }
            }


            
        </div>



    </div>

    <script src="~/js/volunteering_mission.js"></script>



