@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Admin";
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" asp-append-version="true" />
    ViewData["css"] = "Volunteering_Timesheet.css";
}
@model CIPlatform.Entitites.ViewModel.MissionAppViewModel
<div class="row w-100" style="height:90vh;">
    <div class="col-lg-3 col-md-3 navigation col-sm-3">
        <partial name="Navigation_partial" />
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9">
        <div class="container mt-5 ">
            <div class="border-bottom">
                <h5>Mission Application</h5>
            </div>
            <div class="d-flex mt-5 justify-content-between align-items-center">
                @*                <div class="d-flex search-div align-items-center">
                    <img class="search" src="~/images/search.png" alt="not load" />
                    <div class="form-floating w-75 d-flex">
                    <input type="search" class="form-control search-input" id="floatingSearch" placeholder="Search Themes...." />
                    <label for="floatingSearch" class="d-flex align-items-center">Search Themes....</label>
                    </div>
                    </div>*@

            </div>

            <div class="w-100" style="overflow-x:auto;">
                <table id="example" class="table border border-bottom-0 h-100  table-responsive-sm">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Mission Title</th>
                            <th scope="col">Mission ID</th>
                            <th scope="col">Status</th>
                            <th scope="col">User ID</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Applied Date</th>
                            <th scope="col">Action</th>



                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.MissionApps)
                            {
                                <tr>
                                    <td>@item.Title</td>
                                    <td>@item.mission_id</td>
                                    @if (@item.ApprovalStatus == "APPROVE")
                                    {
                                        <td><span style="color:#02f702">Approved</span></td>
                                    }
                                    else if (@item.ApprovalStatus == "DECLINE")
                                    {
                                        <td><span style="color:red">Declined</span></td>
                                    }
                                    else
                                    {
                                        <td><span style="color:red">Pending</span></td>
                                    }

                                    <td>@item.user_id</td>
                                    <td>@item.name</td>
                                    <td>@item.AppliedAt.ToString().Substring(0,11)</td>
                                    <td>
                                        <img src="~/images/checked-green.png" onclick="getma('@item.id')" data-bs-toggle="modal" data-bs-target="#approve" class="edbutton" alt="" />
                                        <img src="~/images/cancled-red.png" onclick="getma('@item.id')" data-bs-toggle="modal" data-bs-target="#notapprove" class="ms-2 edbutton" alt="" />
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
            @*            <partial name="Pagination_partial" />*@
        </div>
    </div>
    <div class="mobile-navigation">
        <partial name="Mobile_Navigation_partial" />
    </div>
</div>

<div class="modal fade" id="approve">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Skill</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure? You want to approve the application?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn applybutton" data-bs-dismiss="modal">No</button>
                <button type="button" onclick="validation('APPROVE')" class="btn applybutton" data-bs-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="notapprove">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Skill</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure? You want to decline the application?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn applybutton" data-bs-dismiss="modal">No</button>
                <button type="button" onclick="validation('DECLINE')" class="btn applybutton" data-bs-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<input id="ma_id" type="hidden" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="~/js/storycms.js"></script>
<script>
        $(document).ready(function () {
            $.noConflict()
        $('#example').DataTable({
            pagingType: 'full_numbers',
        });
    });
</script>
