@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Admin";
                 <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" asp-append-version="true" />
    ViewData["css"] = "Volunteering_Timesheet.css";
}
@model CIPlatform.Entitites.ViewModel.StorySelectViewModel
<div class="row w-100" style="height:90vh;">
    <div class="col-lg-3 col-md-3 navigation col-sm-3">
        <partial name="Navigation_partial" />
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9">
        <div class="container mt-5 ">
            <div class="border-bottom">
                <h5>Story</h5>
            </div>
            <div class="d-flex mt-3 justify-content-between align-items-center">
                <div class="d-flex search-div align-items-center">
                    <img class="search" src="~/images/search.png" alt="not load" />
                    <div class="form-floating w-75 d-flex">
                        <input type="search" class="form-control search-input" id="floatingSearch" placeholder="Search Themes...." />
                        <label for="floatingSearch" class="d-flex align-items-center">Search Themes....</label>
                    </div>
                </div>

            </div>

            <div class="w-100" style="overflow-x:auto;">
                <table id="example" class="table border border-bottom-0 h-100  table-responsive">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Story Title</th>
                            <th scope="col">Full Name</th>
                            <th scope="col">Mission Title</th>
                            <th scope="col">Action</th>



                        </tr>
                    </thead>
                    <tbody>
                            @{
                            foreach (var item in Model.Stories)
                            {
                            <tr>
                            <td>@item.StoryName</td>
                            <td>@item.UserName</td>
                            <td>@item.MissionName.Substring(0,20)...</td>
                            <td><a href="/Story/StoryDetails/@item.StoryId" class="btn applybutton">View</a>
                            <img  src="~/images/checked-green.png" onclick="getstory('@item.StoryId')"  data-bs-toggle="modal" data-bs-target="#approve" class="edbutton" alt=""/>
                            <img  src="~/images/cancled-red.png" onclick="getstory('@item.StoryId')" data-bs-toggle="modal" data-bs-target="#notapprove"  class="edbutton" alt=""/>
                            <img src="~/images/bin.png" data-bs-toggle="modal" data-bs-target="#delete" onclick="getstory('@item.StoryId')" class="ms-2 edbutton" alt="" /></td>
                            </tr>
                            }
                            }
                    </tbody>
                </table>
            </div>
@*            <partial name="Pagination_partial" />*@
        </div>
    </div>
    <div class="mobile-navigation">
        <partial name="Mobile_Navigation_partial" />
    </div>
</div>
<div class="modal fade" id="delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Story</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure? You want to delete the Story?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn applybutton" data-bs-dismiss="modal">No</button>
                <button type="button" onclick="deletestory()" class="btn applybutton" data-bs-dismiss="modal">Yes</button>    
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="approve">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Skill</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure? You want to approve the Story?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn applybutton" data-bs-dismiss="modal">No</button>
                <button type="button" onclick="storyvalidate('APPROVE')" class="btn applybutton" data-bs-dismiss="modal">Yes</button>    
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="notapprove">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Skill</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure? You want to decline the Story?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn applybutton" data-bs-dismiss="modal">No</button>
                <button type="button" onclick="storyvalidate('DECLINED')" class="btn applybutton" data-bs-dismiss="modal">Yes</button>    
            </div>
        </div>
    </div>
</div>


<input id="story-id" type="hidden" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="~/js/storycms.js"></script>
<script>
    $(document).ready(function () {
        $.noConflict()
    $('#example').DataTable({
        pagingType: 'full_numbers',
    });
});
</script>